
.container { padding: 20px; }

.tab-nav { 
	display: table;
	position: relative;
	z-index: 1; 
	width: 100%;
	margin-bottom: -1px;
}
.tab-nav ul { display: table-row; }
.tab-nav li {
	display: table-cell;
	list-style: none;
	vertical-align: middle;
}
.tab-nav .active a { background-color: #fff; }
.tab-nav a {
	border-radius: 6px 6px 0 0;
	background-color: #d6d4d0;
	border: 1px solid #d6d4d0;
	border-bottom: 0;
	color: #333;
	display: block;
	font-size: 15px;
	margin: 0 5px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
}
.tab { padding: 20px; border: 1px solid #d6d4d0; }